.portal {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-global);
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: var(--space-md);
  right: var(--space-md);
}