.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-global);
    gap: var(--space-xl);
}

.action {
    display: flex;
    justify-content: center;
}